.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: calc(100vh - 1.4rem);
    padding: 1.5rem;
}

.fileContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.words {
    display: flex;
    gap: 1rem;
}

.playerContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.recording_buttons_container {
    display: flex;
    gap: 0.5rem;
}

.recording_button {
    padding: 0.5rem;
}

.loading {
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: bolder;
}

.highlightedText {
    color: red;
}
